body {
  margin: 0;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  /* flex: 1 1 calc(100% / 4); */
}

.item {
  display: flex;
  width: calc(100% / 4);
  flex: 1 1 0;
  margin: 1px;
}
/* 
margin
width
display
flex
calc() /* for ultra-precision */
